body
{
text-align:center;
padding:0px;
margin:0px;
background-color:#666;
}
#wrapper
{
width:800px;
height:900px;
background-color:#000;
margin:auto;
text-align:left;
}
a.imageswap
{
display:block;
width:134px;
height:67px;
background-image:url...("Image/pic2.jpg");	
	
	
}
